:root {
  --main-font: "Inter", sans-serif;
  --white: rgb(255, 255, 255);
  --light-grey: #dfdddd;
  --dark-grey: #6b7280;
  --darker-grey: #111827;
}

* {
  margin: 0;
}

/* =================
Typography
================= */

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-weight: 800;
  font-size: 2.5em;
  text-align: center;
}

h4 {
  font-weight: 700;
  font-size: 1em;
}

h3 {
  font-weight: 600;
  font-size: 1.125em;
}

/* =================
Layout
================= */

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  height: 25vh;
  padding-bottom: 1em;
  box-sizing: border-box;
  background: url(./images/cover.png) rgb(60, 60, 60);
  background-size: cover;
  background-blend-mode: multiply;
  object-fit: cover;
  color: var(--white);
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 520px) {
  .header__container {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

header a {
  text-decoration: none;
  color: var(--white);
}

header a:visited {
  color: var(--white);
}

header h4 a:hover {
  color: var(--light-grey);
}

.searchbar {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0px;
  z-index: 1;
  display: grid;
  grid-template-columns: auto minmax(max-content, 25%);
}

.searchbar > input {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0.5em 0.5em 0.5em 2.8em;
  border: 1px solid #d1d5db;
  border-radius: 6px 0px 0px 6px;
  position: relative;
  color: var(--dark-grey);
  grid-column-start: 1;
  overflow: auto;
}

.searchbar > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  color: var(--dark-grey);
  width: 16px;
  grid-column-start: 1;
}

.searchbar > button {
  font-size: 16px;
  font-weight: 600;
  color: var(--darker-grey);
  margin-left: -1px;
  padding: 0.5em 1em;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  overflow: hidden;
}

.searchbar > button:hover {
  background: var(--light-grey);
}

.main__container {
  min-height: 75vh;
  padding-top: 3em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.img__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: grid;
  place-items: center;
}

.img__container > p {
  margin-top: 0.5em;
  color: var(--light-grey);
  font-weight: 700;
  font-size: 1.125em;
  text-align: center;
  line-height: 1.5;
}

.film-container {
  padding: 1em 0;
  display: grid;
  gap: 1em;
  grid-template: max-content max-content 1fr / auto 1fr;
  grid-template-areas:
    "image title"
    "image details"
    "image description";
  align-items: center;
}

.film-container:not(:last-child) {
  border-bottom: 1.5px solid var(--light-grey);
}

.film-poster {
  height: 150px;
  width: 100px;
  grid-area: image;
  align-self: center;
}

.film-info {
  grid-area: title;
}

.film-info__title {
  display: inline;
  margin-right: 0.5em;
  line-height: 1.4;
}

.film-info__rating {
  font-size: 0.75em;
  display: inline-block;
  transform: translateY(-5%);
}

.film-details {
  font-size: 0.75em;
  line-height: 1.8;
  color: var(--darker-grey);
  grid-area: details;
}

.film-details > span {
  margin-right: 1.5em;
}

.add-movies-button {
  border: none;
  padding: 0;
  margin-right: 1em;
  background: none;
  cursor: pointer;
  color: var(--darker-grey);
}

.add-movies-button:hover {
  color: var(--dark-grey);
}

.add-movies-button > img {
  height: 16px;
  margin-right: 0.3em;
  vertical-align: bottom;
  display: inline-block;
  transform: translateY(-5%);
}

.film-description {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.6;
  color: var(--dark-grey);
  grid-area: description;
}

.watchlist-button {
  margin-top: 2em;
  font-weight: 700;
  font-size: 1em;
}

.watchlist-button > img {
  transform: translateY(-10%);
}

@media (max-width: 520px) {
  .film-container {
    row-gap: 0.5em;
    grid-template: max-content max-content 1fr / auto 1fr;
    grid-template-areas:
      "title title"
      "details details"
      "image description";
  }

  .film-details > span {
    margin-right: 0.8em;
  }
}
